html{
    overflow-x: hidden;
}
header{
    width: 101%;
    height: 1009px;
    margin-left: -9px;
    margin-top: -9px;
    background: #2c2c2c;
    display: flex;
    justify-content: center;
}
.cover-block{
    margin-top: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
.lable{
    margin-top: 75px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 450px;
    position: ;
}
.fon{
   margin-left: -681px;
}
.line-h{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #009d00;
    text-align: center;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
}
.announcement-and-picter{
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.announcement{
    padding: 20px;
    width: 35%;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.picter-fon{
    width: 65%;
    height: 750px;
}
.header-picter-fon{
    margin-top: 0px;
    width: 100%;
    height: 620px;
}
.under-h{
    width: 99%;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: right;
}
.line{
    margin-top: 20px;
    height: 3px;
    background-color: #B5B5B5;
    width: 100%; 
}
.border{
    width: 101%;
    height: 35px;
    background: linear-gradient(to top,#939393, #262a33);
    margin-left: -9px;
}
.content{
    width: 101%;
    height: 970px;
    margin-left: -9px;
    margin-top: -1px;
    display: flex;
     align-content: space-between;
}
.content-side{
    width: 50.5%;
    height: 900px;
}
.block-news{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-line{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 55px;
    margin-top: 30px;
}
.decor-under-line{
    width: 230px;
    height: 5px;
    background: green;
}
.main-internal-content{
    display: inline-flex;
    align-content: space-between;
    margin-top: 50px;
    width: 100%;
    height: 700px;
}
.internal-content{
    width: 50%;
    height: 2000px;
}
.text{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 20px;
}
.picter{
    width: 99%;
}
.mex{
    height: 400px;
    margin-bottom: 5px;
}
.kvn{
    height: 350px;
}
.dance{
    height: 320px;
}
.energy{
    height: 320px;
}
.mom{
    margin-top: 20px;
}
.column-red{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.down{
    margin-top: 30px;
}




@media (max-width: 1350px) and (min-width: 1050px){
    .line-h{
        font-size: 25px;
    }
    .under-h{
        font-size: 25px;
    }
    header {
    height: 949px
    }
    .header-picter-fon {
    height: 560px;
}
    .announcement{
        font-size: 18px;
    }
    .text{
        font-size: 17px; 
    }
    .mex{
    height: 300px;
    }
    .kvn{
        height: 270px;
    }
    .dance{
        height: 270px;
    }
    .energy{
        height: 260px;
    }
    .column-red{
        margin-top: 20px;
        font-size: 27px;
    }
}
@media (max-width: 1050px) and (min-width: 800px){
    .line-h{
        font-size: 22px;
    }
    .under-h{
        font-size: 22px;
    }
    header {
    height: 833px
    }
    .header-picter-fon {
    height: 460px;
}
    .announcement{
        font-size: 14px;
    }
    .text{
        font-size: 16px; 
    }
    .mex{
    height: 210px;
    }
    .kvn{
        height: 210px;
    }
    .dance{
        height: 200px;
    }
    .energy{
        height: 200px;
    }
    .column-red{
        margin-top: 20px;
        font-size: 24px;
    }
}
@media (max-width: 920px){
    .content-side{
        width: 100%;
    }
    .content{
        flex-direction: column;
        justify-content: flex-start;
    }
    .content-side{
        margin-bottom: 160px;
    }
}
@media (max-width: 920px) and (min-width: 800px){
    .kvn{
        height: 250px !important;
    }
    .dance{
        height: 260px !important;
    }
    .energy{
        height: 250px !important;
    }
    .mex{
    height: 350px !important;
    }
}
@media (max-width: 800px) and (min-width: 600px){
    .content-side{
       margin-bottom: 250px; 
    }
    .line-h{
        height: 60px;
    }
    .announcement-and-picter{
        margin-top: 20px;
    }
    .line-h{
        font-size: 16px;
    }
    .under-h{
        margin-top: 30px;
        font-size: 16px;
    }
    header {
    height: 695px
    }
    .header-picter-fon {
    margin-top: 35px;
    height: 330px;
}
    .announcement{
        font-size: 12px;
    }
    .name-line{
        font-size: 40px;
    }
    .decor-under-line {
    width: 170px;
    }
    .text{
        font-size: 15px; 
    }
    .mex{
    height: 350px;
    }
    .kvn{
        height: 270px;
    }
    .dance{
        height: 250px;
    }
    .energy{
        height: 250px;
    }
    .column-red{
        margin-top: 20px;
        font-size: 24px;
    }
}
@media (max-width: 600px) and (min-width: 450px){
    .content-side{
       margin-bottom: 250px; 
    }
    .line-h{
        height: 60px;
    }
    .announcement-and-picter{
        margin-top: 20px;
    }
    .line-h{
        margin-top: -50px;
        font-size: 14px;
    }
    .under-h{
        margin-top: 30px;
        font-size: 12px;
    }
    header {
    height: 565px
    }
    .header-picter-fon {
    margin-top: 35px;
    height: 250px;
}
    .announcement{
        font-size: 10px;
    }
    .name-line{
        font-size: 40px;
    }
    .decor-under-line {
    width: 170px;
    }
    .text{
        font-size: 14px; 
    }
    .mex{
    height: 210px;
    }
    .kvn{
        height: 210px;
    }
    .dance{
        height: 180px;
    }
    .energy{
        height: 180px;
    }
    .column-red{
        font-size: 19px;
    }
}
@media (max-width: 450px) and (min-width: 398px){
    .content-side{
       margin-bottom: 100px; 
    }
    .line-h{
        height: 60px;
    }
    .announcement-and-picter{
        margin-top: 20px;
    }
    .line-h{
        margin-top: -50px;
        font-size: 14px;
    }
    .under-h{
        margin-top: 30px;
        font-size: 12px;
    }
    header {
    height: 565px
    }
    .header-picter-fon {
    margin-top: 35px;
    height: 250px;
}
    .announcement{
        font-size: 10px;
    }
    .name-line{
        font-size: 40px;
    }
    .decor-under-line {
    width: 170px;
    }
    .text{
        font-size: 12px; 
    }
    .mex{
    height: 170px;
    }
    .kvn{
        height: 210px;
    }
    .dance{
        height: 150px;
    }
    .energy{
        height: 140px;
    }
    .column-red{
        font-size: 16px;
    }
}
@media (max-width: 398px) and (min-width: 360px){
    .content-side{
       margin-bottom: 30px; 
    }
    .line-h{
        height: 60px;
    }
    .announcement-and-picter{
        margin-top: 20px;
    }
    .line-h{
        margin-top: -50px;
        font-size: 12px;
    }
    .under-h{
        margin-top: 30px;
        font-size: 12px;
    }
    header {
    height: 515px
    }
    .header-picter-fon {
    margin-top: 35px;
    height: 250px;
}
    .announcement{
        font-size: 8px;
    }
    .name-line{
        font-size: 40px;
    }
    .decor-under-line {
    width: 170px;
    }
    .text{
        font-size: 10px; 
    }
    .mex{
    height: 170px;
    }
    .kvn{
        height: 150px;
    }
    .dance{
        height: 150px;
    }
    .energy{
        height: 140px;
    }
    .column-red{
        font-size: 16px;
    }
}
@media (max-width: 360px) and (min-width: 290px){
    .content-side{
       margin-bottom: 40px; 
    }
    .line-h{
        height: 60px;
    }
    .announcement-and-picter{
        margin-top: 20px;
    }
    .line-h{
        margin-top: -50px;
        font-size: 12px;
    }
    .under-h{
        margin-top: 30px;
        font-size: 10px;
    }
    header {
    height: 520px
    }
    .header-picter-fon {
    margin-top: 35px;
    height: 250px;
}
    .announcement{
        font-size: 8px;
    }
    .name-line{
        font-size: 30px;
    }
    .decor-under-line {
    width: 140px;
    }
    .text{
        font-size: 10px; 
    }
    .mex{
    height: 170px;
    }
    .kvn{
        height: 150px;
    }
    .dance{
        height: 150px;
    }
    .energy{
        height: 140px;
    }
    .column-red{
        font-size: 16px;
    }
}