html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.preload{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background: white;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 10px solid #8879ff;
    border-left-color: #464dfd;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
nav{
    width: 100%;
    height: 45px;
    background: #3a6de0;
    position: fixed;
    z-index: 10;
}
ul{
    list-style-type: none;
}
.top-text li{
    text-transform: uppercase;
    float: left;
    margin-right: 50px;
}
.top-text a{
    float: left;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.top-text a:hover{
   text-decoration: underline;
   color: #fff;
}
.name{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.icn{
    color: black;
}
.dropdown button{
    background: rgba(255, 255, 255, 0);
    border: 0;
}
.dropdown-menu{
    height: 129px;
}
.dropdown-item{
    height: 40px;
}
a span{
    position: relative;
    top: 9%;
}
.hello{
    padding-top: 100px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.tetx-h{
    padding-left: 30px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.img-top{
   height: 360px;
   width: 90%;
   margin-top: -220px;
    margin-left: 30px;
}
.inputDown{
    position: relative;
    left: 150px;
    top: -120px;
    height: 60px;
    width: 210px;
    background: #544e58;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%,0% 100%);
    transition-duration: 0.5s;
    z-index: 0;
}
.inputDown:hover{
    transition-duration: 0.5s;
    left: 102px; /*разница в позиционировании 48*/
    width: 310px;
}
.inputTextDown{
    position: relative;
    top: -80px;
    left: 186px;
    pointer-events: none;
    z-index: 1;
    position: ;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
}
.line-border{
    width: 200%;
    margin-left: -120px;
    height: 17px;
}
.rezum-picter{
    padding-top: 10px;
    margin-bottom: 60px;
    margin-left: -60px;
}
.text-h-rezum{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 70px;
    margin-left: -60px;
}
.text-rezum{
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-left: -60px;
}
.dost-img{
    height: 410px;
    width: 570px;
    margin-top: 80px;
}
.dost-spisock{
    margin-top: -415px;
}
.dost-spisock li{
    list-style: none;
    font-size: 29px;
    font-family: sans-serif;
    font-weight:  500;
    margin-bottom: 48px;
    width: 600px;
    height: 50px;

}
.li-two-top::before{
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    top: 58px;
    left: -60px;
    background: url("../fonts/checkmark%202.png") no-repeat;
}
.liTwoDown_1{
    margin-top: 55px;
}
.liTwoDown_2{
    margin-top: -14px;
}
.liTwoDown::before{
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    top: 45px;
    left: -60px;
    background: url("../fonts/checkmark%202.png") no-repeat;
}
.calc-fon{
    position: relative;
    margin-top: 150px;
    margin-left: -140px;
    width: 124%;
    height: 90%;
    z-index: -2;
}
.type-btn-calc{
    margin-top: -750px;
    margin-left: 60px;
    margin-bottom: 30px;
}
.design-btn-calc{
    margin-left: 60px;
    margin-bottom: 30px;
}
.adaptiv-btn-calc{
    margin-left: 60px;
}
.h-type-calc{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 7px;
    margin-bottom: 13px;
}
.btn-calc{
    width: 80%;
    height: 40px;
    background: #727272 !important;
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}
.btn-calc:hover{
    background: #5f5f5f !important;
}
.dropdown-menu{
    width: 80%;
    background: #727272 !important;
}
.menu-type{
  height: 170px;
}
.menu-design-adaptiv{
    height: 90px;
}
.dropdown-item{
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500 !important;
    letter-spacing: 2px;
}
.dropdown-item span{
    pointer-events: none;
}
.dropdown-item:hover{
    background: #5f5f5f !important;
}
.fa-lg{
    vertical-align: -8% !important;
}
.icon-calc{
    display: block !important;
    position: relative;
    top: -22px;
    margin-left: 96%;
}
#typeBtn{
    letter-spacing: 2px;
    display: block;
    margin-top: 5px;
}
#designBtn{
    letter-spacing: 2px;
    display: block;
    margin-top: 5px;
}
#adaptivBtn{
    letter-spacing: 2px;
    display: block;
    margin-top: 5px;
}
.elment-rotate{
    margin-left: 68px;
}
.date{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.prise{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.null{
    margin-left: 70%;
}
.btn-clear{
    margin-top: 20px;
    margin-left: 400px;
}
.visited-btn{
    padding-left: 30px;
    padding-top: 7px;
    width: 145px;
    height: 44px;
    border: 3px solid black;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.visited-btn span{
    pointer-events: none;
}
.animeit-btn{
    position: relative;
    z-index: -1;
    top: -31px;
    left: -30px;
    background: black;
    width: 0px;
    height: 40px;
    margin-left: 70px;
    transition-duration: 0.5s;
}
.visited-btn:hover .animeit-btn{
    margin-left: 0px;
    width: 140px;
}
.calculait{
    margin-top: -270px !important;
}
.h-case{
    margin-bottom: 70px;
    margin-top: 120px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
}
.img-exemple-case{
    margin-bottom: 220px;
    height: 430px;
    width: 53%;
}
.left-scroll{
    width: 10%;
    height: 430px;
    background: rgba(100, 100, 100, 0.6);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-scroll{
    width: 10%;
    height: 430px;
    background: rgba(100, 100, 100, 0.6);
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-scroll{
    color: #fff;
    font-size: 30px;
}
.fon-line{
    transform: rotate(-6deg);
    width: 140%;
    height: 215%;
    background: #00ffbf;
    margin-left: -145px;
    margin-top: 35px;
}
.main-regist{
    width: 119%;
    height: 200vh;
    background: #4b4b4b;
    margin-left: -112px;
    margin-top: 140px;
    position: relative;

}
.h-regist{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-family: sans-serif;
    font-size: 37px;
    font-weight: bold;
    color: #fff;
}
.main-cont{
    margin-top: 65px;
    width:100%;
    display: flex;
    justify-content: center;
}
.container-conect{
    height: 85px;
    width: 56%;
    display: inline-flex;
    align-content: space-between;
    justify-content: space-between;
}
.icon-social-block{
    display: inline-flex;
    width: 195px;
    height: 85px;
    justify-content: space-between;
}
.icon-social{
    width: 85px;
    height: 85px;
}
.mail-block{
    height: 85px;
    width: 200px;
    color: #fff;
    font-family: sans-serif;
    font-size: 25px;
    margin-left: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}
.form-serv{
    margin-top: 70px;
    width: 100%;
    display: flex;
}
.form-style{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.pole-block-top{
    width: 960px;
    display: inline-flex;
    justify-content: space-between;
}
.messeg{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    width: 384px;
    height: 51px;
    background: rgba(255, 255, 255, 0);
    border: 0;
    outline: none;
    border-bottom: 4px solid silver;
    border-radius: 3px;
    font-size: 27px;
}
.input::placeholder{
    font-size: 30px;
    color: #a8a8a8;
}
.textarea-regist{
    height: 180px;
    width: 960px;
    resize: none;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    border: 2px solid silver;
    outline: none;
    font-size: 27px;
}
.textarea-regist::placeholder{
    color: #a8a8a8;
    font-size: 30px;
}
.input-form-comlete{
    margin-top: 60px;
    height: 50px;
    width: 210px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #000;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.input-form-comlete span{
    position: relative;
    z-index: 1;
    top: 7px;
    left: 28px;
}
.animate-complete{
    margin-left: 0px;
    position: relative;
    left: -2px;
    top: -31px;
    background: #000;
    height: 49px;
    width: 0px;
    transition: 1s;
}
.inputTextDown-regist{
    color: #000;
}
.inputDown-regist{
    background: #fff;
}
.down-butun-regist{
    margin-top: 150px;
    margin-left: -180px;
    width: 300px;
}
@media (max-width: 400px){
        .inputDown{
    left: 26%;
    top: 10px;
    height: 40px;
    width: 190px;
}
.inputDown:hover{
     left: 26%;
    top: 10px;
    height: 40px;
    width: 190px;
}
.inputTextDown{
    font-size: 14px;
    top: 39px;
    left: 37%;
}
    .text-h-rezum{
        font-size: 25px;
        margin-bottom: 30px;
        margin-left: -40px;
    }
    .rezum-picter{
        width: 260px;
        height: 200px;
        margin-left: -40px;
    }
    .text-rezum{
        font-size: 20px;
        margin-left: -40px;
    }
    .dost-spisock{
        margin-left: 45px;
        margin-top: -40px;
    }
    .dost-spisock li{
        font-size: 19px;
        margin-bottom: 15px;
    }
    .liTwoDown_1{
    margin-top: 25px;
}
    .liTwoDown_2{
    margin-top: -11px;
    }
    .liTwoDown::before{
        top: 32px;
    }
    .li-two-top:before{
        top: 45px;
    }
}
@media (min-width: 400px) and (max-width: 470px){
    .inputDown{
    left: 115px;
    top: 10px;
    height: 40px;
    width: 190px;
}
.inputDown:hover{
     left: 115px;
    top: 10px;
    height: 40px;
    width: 190px;
}
.inputTextDown{
    font-size: 14px;
    top: 40px;
    left: 153px;
}
  .text-h-rezum{
        font-size: 25px;
        margin-bottom: 30px;
        margin-left: -40px;
    }
    .rezum-picter{
        width: 260px;
        height: 200px;
        margin-left: -40px;
    }
    .text-rezum{
        font-size: 20px;
        margin-left: -40px;
    }
        .dost-spisock{
        margin-left: 80px;
        margin-top: -40px;
    }
    .dost-spisock li{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .liTwoDown_1{
    margin-top: 30px;
}
    .liTwoDown_2{
    margin-top: -12px;
    }
}
@media (max-width: 470px){
    .form-style{
        width: 97%;
    }
    .inputTextDown-regist{
        left: 39% !important;
    }
    .h-regist{
        width: 95%;
        font-size: 27px;
    }
    .textarea-regist::placeholder{
        font-size: 23px;
    }
    .textarea-regist{
        margin-top: 40px;
        width: 270px;
        font-size: 20px;
    }
    .pole-block-top{
        margin-top: 10px;
        width: 450px;
        flex-direction: column;
        align-items: center;
    }
    .input::placeholder{
        font-size: 21px;
    }
    .input{
        width: 268px;
        height: 45px;
        font-size: 19px;
        margin-top: 25px;
    }
    .container-conect{
        display: flex;
        flex-direction: column;
        width: 44%;
    }
    .inst{
        float: right;
    }
    .mail-block{
        margin-top: 30px;
        font-size: 20px;
        margin-left: -4px;
    }
    .icon-social-block{
        width: 175px;
    }
    .icon-social{
        width: 69px;
        height: 69px;
    }
    .main-cont{
        width: 112%;
    }
.main-regist{
        margin-left: -79px;
        width: 155%;
    }
.down-butun-regist{
    margin-top: 0px;
    margin-left: -45px;
}
    .img-exemple-case{
        width: 80%;
        margin-bottom: 60px;
        height: 32vh;
    }
    .right-scroll{
        height: 32vh;
        width: 12%;
    }
    .left-scroll{
        height: 32vh;
        width: 12%;
    }
    .stat{
        margin-top: 60px !important;
    }
    .fon-line{
        width: 190%;
    }
    .text-stat{
        font-size: 12px;
    }
    .number-stat{
        font-size: 20px;
    }
    .icon-stat-block{
        font-size: 11px;
    }
    .h-case{
        margin-bottom: 50px;
        margin-top: 60px;
    }
    .calculait{
        margin-top: -80px !important;
    }
    .null{
        margin-left: 42%;
    }
    .dropdown-menu{
        width: 100%;
    }
    .btn-clear{
        margin-top: 30px;
        margin-left: 0px;
    }
    .date{
        margin-left: -61px;
    }
    .prise{
        margin-left: -61px;
    }
    .h-type-calc{
        font-size: 26px;
    }
    .fa-lg{
        margin-top: 2px;
    }
    .icon-calc{
        margin-left: 92%;
    }
    .btn-calc{
        margin-top: -4px;
        padding-top: 3px;
        font-size: 16px;
        width: 100%;
    }
    .calc-fon{
        margin-top: 100px;
        width: 180%;
        height: 126%;
    }
    .type-btn-calc{
        margin-top: -330px;
        margin-left: -35px;
    }
    .design-btn-calc{
        margin-left: -35px;
    }
    .adaptiv-btn-calc{
        margin-left: -35px;
    }
    nav{
        height: 70px;
    }
}
@media (min-width:1200px) and (max-width:1400px){
    .main-regist{
        margin-left: -132px;
        width: 129%;
    }
    .down-butun-regist{
    margin-top: 160px;
    margin-left: -90px;
}
    .null{
        margin-left: 69%;
    }
    .btn-clear{
        margin-left: 330px;
    }
    .hello, .tetx-h{
        padding-left: 0px;
    }
    .img-top{
        margin-left: 50px;
    }
.inputDown{
    left: 100px;
    top: -120px;
}
.inputDown:hover{
    left: 52px; /*разница в позиционировании 48*/
    width: 310px;
}
.inputTextDown{
    top: -80px;
    left: 136px;
}
    .text-h-rezum{
        margin-left: -160px;
    }
    .rezum-picter{
        margin-left: -160px;
    }
    .text-rezum{
        margin-left: -160px;
    }
}
@media (min-width:991px) and (max-width:1200px){
    .container-conect{
        width: 63%;
    }
    .main-regist{
        margin-left: -132px;
        width: 129%;
    }
.down-butun-regist{
    margin-top: 160px;
    margin-left: 50px;
}
    .h-case{
        margin-top: 70px;
    }
    .date{
        margin-left: -28px;
    }
    .prise{
        margin-left: -28px;
    }
    .null{
        margin-left: 68%;
    }
    .btn-clear{
        margin-left: 245px;
    }
    .type-btn-calc{
        margin-top: -580px;
        margin-left: 30px;
    }
    .design-btn-calc{
        margin-left: 30px;
    }
    .adaptiv-btn-calc{
        margin-left: 30px;
    }
    .inputDown{
    left: 30px;
    top: -120px;
}
.inputDown:hover{
    left: -18px; /*разница в позиционировании 48*/
    width: 310px;
}
.inputTextDown{
    top: -80px;
    left: 67px;
}
    .dost-img{
        height: 360px;
        width: 450px;
    }
    .dost-spisock{
        margin-top: -380px;
    }
}
@media (max-width:1200px){
     .img-top{
       margin-left: 120px;
       width: 545px;
    }
}
@media (max-width: 768px){
    .visited-btn{
        background: black;
    }
    .visited-btn:hover .animeit-btn{
        margin-left: 70px;
        width: 0px;
    }
    .name{
        font-size: 18px;
    }
    .hello{
        padding-left: 0;
        padding-top: 40px;
        font-size: 42px;
    }
    .tetx-h{
        padding-left: 0;
        font-size: 32px;
    }
}
@media (min-width: 470px) and (max-width: 768px){
    .inputTextDown-regist{
        left: 41% !important;
    }
    .h-regist{
        font-size: 27px;
    }
    .textarea-regist::placeholder{
        font-size: 25px;
    }
    .textarea-regist{
        margin-top: 40px;
        width: 400px;
        font-size: 22px;
    }
    .pole-block-top{
        margin-top: -50px;
        width: 450px;
        flex-direction: column;
        align-items: center;
    }
    .input::placeholder{
        font-size: 23px;
    }
    .input{
        width: 340px;
        height: 45px;
        font-size: 24px;
        margin-top: 40px;
    }
    .container-conect{
        width: 64%;
    }
    .inst{
        float: right;
    }
    .mail-block{
        font-size: 20px;
        margin-left: 98px;
    }
    .icon-social{
        width: 69px;
        height: 69px;
    }
    .main-cont{
        width: 100%;
    }
.main-regist{
        margin-left: -132px;
        width: 155%;
    }
.down-butun-regist{
    margin-top: 0px;
    margin-left: -100px;
}
    .img-exemple-case{
        width: 80%;
        margin-bottom: 60px;
    }
    .right-scroll{
        width: 12%;
    }
    .left-scroll{
        width: 12%;
    }
    .stat{
        margin-top: 50px !important;
    }
    .text-stat{
        font-size: 13px;
    }
    .fon-line{
        margin-left: -180px;
        width: 160%;
    }
    .h-case{
        margin-top: 60px;
        margin-bottom: 50px;
    }
    .calculait{
        margin-top: -140px !important;
    }
    .null{
        margin-left: 52%;
    }
    .dropdown-menu{
        width: 100%;
    }
    .btn-clear{
        margin-left: 60px;
    }
    .date{
        margin-left: -50px;
    }
    .prise{
        margin-left: -50px;
    }
    .h-type-calc{
        font-size: 26px;
    }
    .fa-lg{
        margin-top: 2px;
    }
    .icon-calc{
        margin-left: 92%;
    }
    .btn-calc{
        margin-top: -4px;
        padding-top: 3px;
        font-size: 16px;
        width: 100%;
    }
    .calc-fon{
        margin-top: 100px;
        width: 160%;
        height: 126%;
    }
    .type-btn-calc{
        margin-top: -330px;
        margin-left: -35px;
    }
    .design-btn-calc{
        margin-left: -35px;
    }
    .adaptiv-btn-calc{
        margin-left: -35px;
    }
    .inputDown{
    left: 30%;
    top: 30px;
}
.inputDown:hover{
    left: 30%;
    top: 30px;
    width: 210px;
}
.inputTextDown{
    top: 72px;
    left: 37%;
}
    .text-h-rezum{
        margin-bottom: 40px;
        font-size: 27px;
    }
    .rezum-picter{
        height: 200px;
        width: 260px;
    }
    .text-rezum{
         font-size: 21px;
    }
    .dost-spisock{
        margin-top: -10px;
        margin-left: 40px;
    }
}
@media (max-width:444px){
    .hello{
        padding-left: 0;
        padding-top: 40px;
        font-size: 25px;
    }
    .tetx-h{
        padding-left: 5px;
        font-size: 20px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .textarea-regist::placeholder{
        font-size: 25px;
    }
    .textarea-regist{
        width: 700px;
        font-size: 23px;
    }
    .pole-block-top{
        width: 705px;
    }
    .input::placeholder{
        font-size: 25px;
    }
    .input{
        width: 320px;
        height: 45px;
        font-size: 23px;
    }
    .container-conect{
        width: 69%;
    }
    .inst{
        float: right;
    }
    .mail-block{
        font-size: 22px;
        margin-left: 300px;
    }
    .icon-social{
        width: 75px;
        height: 75px;
    }
    .main-cont{
        width: 100%;
    }
.main-regist{
        margin-left: -132px;
        width: 140%;
    }
.down-butun-regist{
    margin-top: 0px;
    margin-left: -400px;
}
    .img-exemple-case{
        width: 65%;
        margin-bottom: 100px;
    }
    .right-scroll{
        width: 12%;
    }
    .left-scroll{
        width: 12%;
    }
    .stat{
        margin-top: 50px !important;
    }
    .fon-line{
        margin-left: -180px;
        width: 150%;
    }
    .calculait{
        margin-top: -210px !important;
    }
    .h-case{
        margin-top: 70px;
    }
    .btn-clear{
        margin-left: 200px;
    }
    .icon-calc{
        margin-left: 93%;
    }
    .null{
        margin-left: 75%;
    }
    .date{
        margin-left: -26px;
    }
    .prise{
        margin-left: -26px;
    }
    .dropdown-menu{
        width: 94%;
    }
    .btn-calc{
        width: 94%;
    }
    .type-btn-calc{
        margin-left: 30px;
        margin-top: -510px;
    }
    .design-btn-calc{
        margin-left: 30px;
    }
    .adaptiv-btn-calc{
        margin-left: 30px;
    }
    .calc-fon{
        width: 142%;
    }
    nav{
        height: 50px;
    }
    .hello, .tetx-h{
        padding-left: 0px;
    }
    .hello{
        padding-top: 40px;
        font-size: 50px;
    }
    .tetx-h{
        font-size: 40px;
    }
    .inputDown{
    height: 70px;
    width: 260px;
    left: 222px;
    top: 30px;
}
.inputDown:hover{
    left: 222px;
    width: 260px;
}
.inputTextDown{
    font-size: 20px;
    top: 79px;
    left: 268px;
}
    .line-border{
        margin-left: -160px;
    }
    .dost-spisock{
        margin-left: -15px;
        margin-top: -302px;
    }
    .dost-img{
        height: 270px;
        width: 330px;
    }
    .dost-spisock li{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .liTwoDown_1{
    margin-top: 30px;
}
    .liTwoDown_2{
    margin-top: -12px;
    }
}
